body {
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a8ccbb;
}

#credential {
  display: flex;
  width: 300px;
  height: 500px;
  margin: 100px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #72a98f;
  border-radius: 25px;
}

#image-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logoBox {
  height: 85%;
  width: 90%;
  border-radius: 200px;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login {
  padding: 5px;
  margin: 10px 0;
  background: #bcbcbc;
  color: white;
  border: none;
  border-radius: 20px;
  width: 235px;
  height: 35px;
  font-family: "Comforter Brush", cursive;
  font-family: "Oswald", sans-serif;
}

#email,
#password {
  padding: 7.5px;
  margin: 10px;
  width: 220px;
  height: 30px;
  border-radius: 9px;
  border: none;
  font-family: "Comforter Brush", cursive;
  font-family: "Oswald", sans-serif;
}

#error-message {
  text-align: center;
  font-size: small;
  font-family: "Comforter Brush", cursive;
  font-family: "Oswald", sans-serif;
}

#footer-container {
  padding: 7.5px;
  margin: 10px;
  width: 220px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  font-family: "Comforter Brush", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
}
a:active,
a:visited {
  color: white;
}
a:hover {
  color: #3e5248;
}
a {
  color: white;
  text-decoration: none;
}

#login:hover {
  cursor: pointer;
  background: #a4ada8;
  color: white;
}
