body {
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #948c6c;
  /* background-color: #9c8c6c; */
}

#credential {
  display: flex;
  width: 300px;
  height: 500px;
  margin: 100px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4d9c3;
  border-radius: 25px;
}

#image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

#logoBox {
  height: 85%;
  width: 90%;
  margin-left: 8px;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login {
  padding: 5px;
  margin: 10px 0;
  background: #7e5832;
  color: white;
  border: none;
  border-radius: 20px;
  width: 235px;
  height: 35px;
  font-family: "Comforter Brush", cursive;
  font-family: "Oswald", sans-serif;
}

#email,
#password {
  padding: 7.5px;
  margin: 10px;
  width: 220px;
  height: 30px;
  border-radius: 9px;
  border: none;
  font-family: "Comforter Brush", cursive;
  font-family: "Oswald", sans-serif;
}

#error-message {
  text-align: center;
  font-size: small;
  font-family: "Comforter Brush", cursive;
  font-family: "Oswald", sans-serif;
}

#footer-container {
  padding: 7.5px;
  margin: 10px;
  width: 220px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  font-family: "Comforter Brush", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
}
a:active,
a:visited,
a:hover {
  color: grey;
}

a {
  text-decoration: none;
}
