header {
  margin-bottom: 100px;
}

body {
  background-color: #e3fbf0;
}

#recipe-categories {
  margin: 10px 20px;
  font-family: "Oswald", sans-serif;
}

.recipe-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px 5px;
  border-radius: 15px;
  border-color: #8db3a1;
}

.card-body {
  height: 50vh;
  width: auto;
  overflow: auto;
}

.card-footer {
  background-color: white;
  border-top: 1px solid white;
  margin-bottom: 5px;
}

.card-body img {
  margin-top: 5px;
  height: 30vh;
  object-fit: cover;
  width: calc(100%);
}

.wrapper {
  padding-top: 10px;
  width: 100%;
  margin: auto;
}

.sticky-top {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 76px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: start;
  padding: 10px 20px;
}

.view-recipe-button {
  padding: 5px;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: none;
  background: #688779;
  font-weight: 600;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.view-recipe-button:hover {
  background: #536d61;
}

.filter-component {
  display: flex;
  justify-content: space-evenly;
}

.filter-component button:nth-child(2) {
  border: none;
  background: none;
  color: #003050;
  text-shadow: 0 1px 1px 1px rgb(0, 0, 0);
}

.tag {
  margin: 2px;
  padding: 3px;
  border: none;
  border-radius: 10px;
  background-color: rgb(190, 226, 255);
  box-shadow: 0 1px 1px 1px rgb(240, 240, 240);
}

.tags-div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

/* expand recipe view */
.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  cursor: pointer;
}

.expand-card {
  width: 50%;
  height: 90%;
  background-color: #fff;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 #000,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 30px auto;
  overflow-y: auto;
}

.expand-main {
  margin: 5px;
  padding: 2px;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
}

.expand-body-section > img {
  height: 300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.recipe-title-capitalize {
  text-transform: capitalize;
  font-weight: 580;
  font-family: "Fira Sans", sans-serif;
  font-size: 700;
}

.unscroll-body {
  overflow-y: hidden;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.emoji:before {
  content: "\1F37D";
  margin-left: -20px;
  margin-right: 10px;
  font-size: 20px;
}
