/* navigation bar */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.this-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  /* box-shadow: 0px 5px 10px 0px #aaa; */
  position: fixed;
  top: 0;
  width: 100%;
  background: #72A98F;
  color: white;
  /* opacity: 0.85; */
  z-index: 100;
  /* margin-bottom: 100px; */
  /* font-family: "Satisfy", cursive; */
  font-family: "Oswald", sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  color: white;
}
.logo {
  order: 1;
  /* font-size: 5rem; */
  /* padding: 3px; */
  height: 60px;
}

.menu-items li {
  list-style: none;
  margin-left: 2.5rem;
  margin-top: 2rem;
  /* font-size: 2rem; */
  color: white;

  /* font-family: "Satisfy", cursive; */
}


.navbar a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
  /* font-family: "Satisfy", cursive; */
  /* font-size: 2.1rem; */
  /* font-weight: bold; */
}

#create-new-recipe:hover, 
#my-page-button:hover, 
#login-button:hover {
  color: #2C5F2D;
  cursor: pointer;
}


@media (max-width: 768px) {
  html {
    margin-bottom: 50px;
  }
  .navbar {
    opacity: 0.95;
  }
  .search{
    margin-left:-2.5rem;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(245, 241, 241);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background-color: #72A98F;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    /* box-shadow: 5px 0px 10px 0px #aaa; */
    /* font-family: "Satisfy", cursive; */
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.5rem;
    font-weight: 500;
    color:white;
    /* font-family: "Satisfy", cursive; */
  }
  #create-new-recipe:hover, 
  #my-page-button:hover, 
  #login-button:hover {
  color: #2C5F2D;
  cursor: pointer;
}

  .logo {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 2.5rem;
    /* font-family: "Satisfy", cursive; */
    height: 85%;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
 
}



#search-bar{
  background: rgba(255,255,255,0.4);
  border: none;
  border-radius: 30px;
  outline: none;
  width: 200px;
  margin-top:-0.7rem;
  margin-left:1.5rem;
  padding: 10px;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.2);
  
}